*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url(./images/background.jpg);
    background-position: center;
    background-size: cover;
}

.center {
    height: 10vh;
    display: flex;
    align-items: end;
    justify-content: center;
}

.background-style {
    background-color: rgba(26, 36, 33, 0.5);
    border-radius: 15px;
}

.autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    overflow-y: auto;
    background-color: #fff;
    z-index: 9;
}

.autocomplete-items {
    padding: 5px 5px;
    cursor: pointer;
}

.autocomplete-items:hover{
    background-color: #585858;
    color:#fff
}